<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muran.web3.dao.mapper.UserMapper">
	<select id="getUser" resultType="UserDO">
		select * from user_test
	</select>
	<insert id="insertUser" parameterType="UserDO">
		insert into
		user_test(name,age) values(#{name},#{age})
	</insert>
	<update id="updateUser" parameterType="UserDO">
		update user_test set
		age=#{age} where name = #{name}
	</update>
	<delete id="deleteUser" parameterType="String">
		delete from user_test
		where name=#{name}
	</delete>
</mapper>