<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muran.web3.dao.mapper.VecrvWithdrawMapper">
    <select id="queryAll" resultType="VecrvWithdrawEventDO">
        select * from vecrv_evt_withdraw
    </select>

    <insert id="insert" parameterType="VecrvWithdrawEventDO">
        insert into
        vecrv_evt_withdraw(
        contract_address,
        tx_hash,
        provider,
        value,
        ts,
        index,
        block_time,
        block_number
        ) values(
        #{contractAddress},
        #{txHash},
        #{provider},
        #{value},
        #{ts},
        #{index},
        #{blockTime},
        #{blockNumber}
        )
    </insert>

</mapper>